@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(45deg, #0a0a0a, #05224c);
}

.calculator{
    background: #3a4452;
    border: 2px solid #8590a5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(184, 217, 224, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin:10px ;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #fff;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 26px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    background: #717377;
    color: #6dee0a;
}

/* ---------------Media Query---------------- */

@media screen and (max-width:425px) {
    .container{
        width: 100%;
        height: 100vh;
       }
       
       .calculator{
           padding: 10px;
           border-radius: 20px;
       }
       
       input{
           width: 220px;
           padding: 14px;
           font-size: 40px;
       }
       
       button{
           width: 40px;
           height: 40px;
           font-size: 16px;
       }
       
       
}
